/* Nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--gold);
  scroll-behavior: var(--black);
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Arial;
  font-size: 12px;
}

li {
  float: none;
}

li a {
  display: block;
  float: right;
  color: var(--gold);
  text-align: center;
  text-decoration: none;
  background-color: var(--purple);
  margin: 20px 5px;
  margin-bottom: 10px;
  border-radius: 5px 5px 25px 25px;
  margin-top: 5px;
  padding: 20px 25px;
  /* mobile screen */
  @media (max-width: 585px) {
    margin: 20px 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    float: left;

  }
}

li p{
  float: left;
  text-align: center;
  font-size: 20px;
  font: bold;
  color: var(--purple);
  /* mobile screen */
  @media (max-width: 780px) {
    visibility: hidden;
    width: 0px;
    height: 0px;
    float: right;
  }
}

ul li:first-child{
  float: left;
  margin: 5px 15px;
    /* mobile screen */
  @media (max-width: 585px) {
    visibility: hidden;
    float: right;
    width: 0px;
    height: 0px;
    margin: 0px;
  }


}

li a:hover {
  background: var(--gold);
  color: var(--purple);
  border: 1px;
  border-color: var(--purple);
  border-style: double;

}