/* riordan branding colors */
:root{
    --gold: #F5A800;
    --purple: #31006F;
    --black: #1c1c1c;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
  color: var(--gold);
  font-size: 34px;
  font-family: Helvetica;
  text-align: center;
}

iframe{
  max-width: 1000px;
  max-height: 550px;
  background-color: #31006f;
}

/* banner */
.headbanner{
  margin: 0px 0px 10px 0px;
  padding: 80px 30px 0px;
  width: auto;
  min-height: auto;
  background-color: var(--purple);
  text-align-last: center;
  font-family: Arial;
}

.headbanner h1{
  color: white;
  padding: 30px 5vh 0vh 30px;
  font-size: 95px;
  font-family: inherit;

}

.headbanner h2{
  color: var(--gold);
  font-size: 45px;
  padding-bottom: 5vh;
  font-family: inherit;
}

/* content grid */
.center {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 50% 50% ;
  column-gap: 35px;
  row-gap: 35px;
  padding: 10px 15vw;
  @media (max-width: 650px) {
    padding: 10px 5px; margin: 0px; row-gap: 10px; column-gap: 10px; grid-row: 25% 75%;
  }
}

.item {
  padding: 0px 10px;
  font-size: 22px;
}

.item1{
  align-self: center;
}

dt{
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  list-style: none;
}

dd{
  font-size: 20px;
  font-family: inherit;
}

.sponsors{
  padding: 20px 15vw;
  margin-bottom: 30px;
}

.img-row{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  text-align: center;
  max-width: 1100px;
  max-height: 1000px;
  min-width: 50px;
  min-height: 50px;
  width: 100%;
  height: 100%;
  padding: auto;
  margin: auto;
}

.bottom{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  margin: 10px 10vw;
  @media (max-width: 650px){
    margin: 10px 0px;
  }
}

.socials{
  display: grid;
  margin: 0px;
  margin-right: 25%;
  padding: 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50%;
  column-gap: 10px;
  max-width: 1500px;
  min-width: 300px;
  width: 100%;
}
.socials img{
  max-width: 80px;
  max-height: 80px;
  min-width: 20px;
  min-height: 20px;
  width: 100%;
  height: 100%;
  margin: 0px;  
}

.bot{
  text-align: center;
  margin: 10px;
  @media (max-width: 960px) {
    visibility: hidden;
    width: 0px;
    margin: 0px;
  }
}

.bot img{
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 230px;
  min-width:  50px;
  min-height: 76px;

}

.info{
  font-family: inherit;
  text-align: right;
}

.info p{
  margin-top: 5px;
  padding: 10px;
  font-size: 11px; 
}
.info button{
  background-color: var(--purple);
  color: white;
  font-size: 24px;
  margin: 5px;
  padding: 5px;
  max-width: 550px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border-radius: 10px 25px;
  border: none; 
  transition: background-color 0.8s ease-out;
}
/* .info button {
  min-width: min-content;
  max-width: 100px;
  width: 100%;
  padding: 15px 100%;
  height: auto;
  background-color: var(--purple);
  color: white;
  border: none;

  font:caption; 
}*/
.info button:hover{
  border-color: var(--gold);
  background-color: var(--gold);
  color: var(--purple);
}