@font-face {
  font-family: Myriad Pro;
  src: url(fonts/Myriad_Pro/MyriadPro-Regular.otf) format("opentype");
}

/* Riordan branding colors */
:root{
  --r-gold: #F5A800;
  --r-purple: #31006F;
}

* {
  box-sizing: border-box;
}

/* TODO: move to main stylesheet */
body {
  margin: 0;
}

header {
  width: 100%;
  background-color: var(--r-purple);
}

nav {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 5px solid var(--r-gold);
  font-family: 'Myriad Pro';
}

nav .logo {
  display: inline-block;
  margin: 2px;
}

nav > ul {
  display: inline-block;
  margin: 1em 20px 1em auto;
  align-self: center;
  padding: 0;
  list-style-type: none;
  font-size: 1.1em;
}

nav > ul > li {
  display: inline-block;
  position: relative;
  width: fit-content;
  padding: 0 15px;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
}

nav .dropdown-menu a {
  margin: 5px 0;
}

nav .dropdown-menu {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 100%;
  min-width: fit-content;
  padding: 10px;
  white-space: nowrap;
  background-color: var(--r-purple);

  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.15s linear;
}

nav .sub-dropdown {
  position: relative;
}

nav .sub-dropdown-button {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

nav .sub-dropdown-button span {
  margin-left: auto;
  padding-left: 0.5em;
  font-size: 1.2em;
  line-height: 0%;
}

nav .sub-dropdown-menu {
  display: inline-block;
  position: absolute;
  top: 5px;
  padding: 10px;
  background-color: var(--r-purple);

  /* Delay appearance */
  visibility: hidden;
  transition: visibility 0s 0.25s;
}

/* Negate margin collapse by doubling top margin for subsequent children */
nav .sub-dropdown-menu a:not(:first-child) {
  margin-top: 10px;
}

nav .dropdown-menu, nav .sub-dropdown-menu {
  border: 5px solid #01003F;
  border-radius: 5px;
}

nav .active, nav .nav-link:hover, nav li:hover a.nav-dropdown, nav .sub-dropdown:hover a.sub-dropdown-button {
  color: var(--r-gold);
}

nav li:hover .dropdown-menu {
  transform: scaleY(1);
}

nav .sub-dropdown:hover > .sub-dropdown-menu {
  visibility: visible;
}